
body{
    background-image: linear-gradient(to right, #12151b, #352a2a,#3d4d4f);
}
#boxes, #buttons{/*rgb(106, 108, 88);*/
    text-align: center
}
#title{
    margin-left: 18px;
    text-align: left;
    color: rgb(155, 153, 117);
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Segoe UI';
    letter-spacing: 2px;
}
textarea{
    width: 487px;
    height: 275px;
    overflow: auto;
    resize: none;
    background-color: #0f0f0f;
    color: white;
    border: transparent;
    
    box-shadow:  5px 5px 10px rgb(0,0,0, 0.3);
}
textarea:focus{
    border: transparent;
    outline: none;
}
.start-button{
    margin-top: 15px;
    width: 488px;
    height: 70px;
    background-color: transparent;
    border-radius: 20px;
    border-width: 7px;
    border-style: solid;

    font-family: 'Teko';
    letter-spacing: 25px;
    font-size: 37px;
    font-weight: bold;
    font-style: italic;
}
#input{
    margin-right: 37px;
}
#output{
    margin-right: 0px;
}
#encode{
    transition: background-color 0.4s, color 0.4s, border-color 0.4s; 
    margin-left: -6px;
    margin-right: 36px;
    border-color: #21844a;
    color: #21844a;
}
#encode:hover{
    background-color: #21844a;
    color: black;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s; 
}
#encode:active{
    background-color: #156135;
    border-color: #156135;
    color: #352a2a;
    
    transition: background-color 0s, color 0s, border-color 0s; 
}
#decode{
    margin-right:-6px;
    border-color: #F23F42;
    color: #F23F42;
}
#decode:hover{
    background-color: #F23F42;
    color: black;
    transition: background-color 0.4s, color 0.4s, border-color 0.4s; 
}
#decode:active{
    background-color: #cd272a;
    border-color: #cd272a;
    color: #12151b;
    
    transition: background-color 0s, color 0s, border-color 0s; 
}
#toprow{
    vertical-align: middle;
    display: flex;
}
#info{
    vertical-align: middle;
    width: 95px;
    height: 35px;
    margin-top: 2.3%;
    margin-left: 46.7%;
    background-color: #F23F42;
    border-style: hidden;

    box-shadow:  2px 2px 4px rgb(0,0,0, 0.3);
    
    font-family: 'Consolas';
    font-size: 22px;
    letter-spacing: 5px;
    font-weight: 900;
    color: #344244;
    border-radius: 25px;
}
#info:hover{
    background-color: #F23F42;
    color: rgb(67, 26, 26);
    transition: background-color 0.4s, color 0.4s, border-color 0.4s; 
}
#info:active{
    background-color: #cd272a;
    border-color: #cd272a;
    color: #3d4d4f;
    
    transition: background-color 0s, color 0s, border-color 0s; 
}

