<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo">
    <title>Arches Cryptography</title>
</head>

<body>
    <row id="toprow">
        <h1 id="title">Arches Cryptography Algorithm</h1>
        <button id="info">about</button>
    </row>
    <div id="boxes">
        <textarea id="input"></textarea>
        <textarea id="output"></textarea>
    </div>
    <div id="buttons">
        <button class="start-button" id="encode">ENCODE</button>
        <button class="start-button" id="decode">DECODE</button>
    </div>
</body>

</html>
